@font-face {
    font-family: Bungee;
    src: url(../Bungee-Regular.ttf);
}

body {
    background-color: #1E1E1E;
    color: #EEEEEE;
    font-family: Bungee;
    text-align: center;
}

textarea {
    font-size: 18px;
}

#title {
    text-align: center;
}

div {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 46%;
    padding: 2%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

button {
    height: 6%;
    width: 12%;
    font-size: 18px;
}

.htp {
    float: left;
}

.start {
    float: right;
}

h1,h2,h3 {
    line-height: 1.2
}

a:link {
    color: #9e2835;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #9e2835;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(41, 22, 22);
    background-color: transparent;
    text-decoration: underline;
}